/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
  overflow-x: hidden;

}
   
body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;

}

a,
.button {
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

a:focus,
.btn:focus {
  text-decoration: none;
  outline: none;
  box-shadow: none;
}

a:hover {
  text-decoration: none;
  color: inherit;
}
.form-control:focus {
  outline: 0;
  box-shadow:none;
}
.btn{
  background:#00BF85 ;
  color: #fff;
   border-radius: 30px;
   padding: 10px 25px;
   text-decoration: none;
   text-transform: capitalize;
   border:none;
   font-weight: 500;
   border: 2px solid transparent;
   transition: .3s;
}
.btn:hover{
  border: 2px solid #00BF85;
  background: transparent;
  color: #00BF85;
}
section{
  padding: 50px 0;
}
.heading h2{
  text-align: center;
  color: #fff;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 50px;
  text-transform: capitalize;
}
 /* 01 header area  */
 header {
   background: #131313;
   padding: 10px 30px;
 }
 .navbar, header{
  z-index:10000000;
 }
 .navbar .navbar-brand{
   font-size: 20px;
   font-weight: 700;
 }
 .navbar .navbar-nav .nav-link{
   color: #fff;
   padding: 0 10px;
   font-size: 16px;
   transition: .3s ease;
 }
 .navbar .navbar-nav .nav-link:hover{
   color: #00BF85;
 }
 /* 02 hero area */
 .hero {
   padding: 0;
 }
 .hero .mid{
   width: 100%;
   height: 86vh;
   overflow: hiden;
   }
 .hero .mid video{
   width: 100%;
   height: 100%;
   pointer-events: none;
   object-fit: cover;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
 }
 .hero .content{
   position: relative;
   padding-top: 170px;
   color: #fff;
 }
 .hero .content h1{
   font-weight: 700;
   font-size: 55px;
 }
 .hero .content p{
   font-size: 22px;
   font-weight: 400;
   padding: 10px 180px;
  
 }
/* 03 about area  */
.about{
  background: #000;
}
.about .left-content span{
  color: #00BF85;
  font-weight: 800;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.about .left-content h2{
  color: #F7F5F4;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 20px;
}
.about .left-content p{
  color: #F7F5F4;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: .5 px;
}
/* 04 discover area  */
.discover .right-content span{
  color: #00BF85;
  font-weight: 800;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.discover .right-content h2{
  color: #111;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 20px;
}
.discover .right-content p{
  color: #111;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: .5 px;
}
/* 04 service area  */
.service{
  background: #000;
}
.service .service-single{
  background: #fff;
  padding: 20px 10px;
  border-radius: 10px;
}
/* 05 sign area  */
.sign .left-content span{
  color: #00BF85;
  font-weight: 800;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.sign .left-content h2{
  color: #111;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 20px;
}
.sign .left-content p{
  color: #111;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: .5 px;
}
footer{
  color: #111;
  font-size: 14px;
}